// Main colors
$dark: #22231A;
$dark-bis: #181A1B;
$dark-light: #92896C;

// Navigation bar colors
$navbar-dark-color: $dark-light;

// Dropdown colors
$dropdown-bg: $dark-bis;
$dropdown-border-color: $dark-light;
$dropdown-link-color: $dark-light;
$dropdown-link-hover-color: rgba(#FFF, .75);
$dropdown-link-hover-bg: $dark-bis;
$dropdown-link-active-bg: $dark-bis;
